@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";

.bolt-tabbar-tabs {
    font-size: $fontSizeM;
    margin-bottom: 10px;
    font-family: $fontFamily;
  }

.bolt-header-title {
  font-family: $fontFamily;
}

.card-success {
  color: $status-success-foreground;
  background-color: $status-success-background;
}

.card-failure {
  color: $status-error-foreground;
  background-color: $status-error-background;
}

iframe.full-size {
  border: 0;
  height: 2000px;
}

// Class from the postman report

.container {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
